<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Nossos Bolos
    </ion-title>
    <ion-buttons slot="end">
      <ion-tab-button (click)="abrirCarrinho()">
        <ion-icon name="cart"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Bolos</ion-label>
    </ion-list-header>

      <ion-item (click)="detalhes(bolo)" *ngFor="let bolo of bolos">
        <ion-thumbnail slot="start">
          <ion-img [src]="bolo.imagem"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ bolo.nome }}</h2>
          <p>{{ bolo.preco }}</p>
        </ion-label>
      </ion-item>

    </ion-list>
</ion-content>
